<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.danielrcs371hw2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".EditTeam"
            android:label="@string/title_activity_edit_team" >
        </activity>
        <activity
            android:name=".DeleteTeam"
            android:label="@string/title_activity_delete_team" >
        </activity>
        <activity
            android:name=".DeletePlayer"
            android:label="@string/title_activity_delete_player" >
        </activity>
        <activity
            android:name=".PickTeams"
            android:label="@string/title_activity_pick_teams" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name=".PickPlayers"
            android:label="@string/title_activity_pick_players" >
        </activity>
    </application>

</manifest>
